/* CSS for admin dashboard */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.dashboard-container {
    background-color: #D9EDBF; /* Light green */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.seller-list {
    margin-bottom: 20px;
}

.seller {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.seller p {
    margin: 5px 0;
}

.approved-sellers, .banned-sellers {
    margin-bottom: 20px;
}

.add-admin-form input[type="text"],
.add-admin-form input[type="password"],
.add-admin-form button[type="submit"] {
    margin-bottom: 10px;
}

.add-admin-form input[type="text"],
.add-admin-form input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}

.add-admin-form button[type="submit"] {
    padding: 10px;
    background-color: #FF9800; /* Orange */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.add-admin-form button[type="submit"]:hover {
    background-color: #2C7865; /* Dark green */
}

/* Error message style */
.error-message {
    color: #FF0000; /* Red */
}
