body {
    font-family: Arial, sans-serif;
    background-color: #0b470b; /* Green background color */
    margin: 0;
    padding: 0;
    position: relative; /* Add position relative */
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.search-bar {
    margin-bottom: 20px;
    display: flex;
}

#searchInput {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

#searchButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

#searchButton:hover {
    background-color: #0056b3;
}

#searchResults {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.search-result {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #e9e9e9;
    border-radius: 5px;
}

.logout-btn {
    padding: 10px 20px;
    background-color: #0f7e15; /* Green background color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute; /* Position absolute */
    top: 20px; /* Adjust the distance from the top */
    left: 20px; /* Adjust the distance from the left */
}
@media (max-width: 570px) {
    form {
      padding: 0 1.5rem;
    }
  
    .image {
      display: none;
    }
    .panel .content {
      padding: 0.5rem 1rem;
    }
    .container {
      padding: 1.5rem;
    }
  
    .container:before {
      bottom: 72%;
      left: 50%;
    }
  
    .container.sign-up-mode:before {
      bottom: 28%;
      left: 50%;
    }
  }