/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0f6307;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
}

/* Top bar styles */
.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.back-button {
    background-color: #1e7512;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 13px 55px;
    cursor: pointer;
}

.back-button:hover {
    background-color: #14a507;
}

/* Sidebar styles */
.sidebar {
    width: 250px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.sidebar h2 {
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 20px;
    color: #19990e;
}

.sidebar form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center input and button vertically */
}

.sidebar label {
    margin-bottom: 10px;
    text-align: center; /* Center label text */
}

.sidebar input[type="text"] {
    width: calc(100% - 20px); /* Make input field take full width with space on both sides */
    padding: 8px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    background-color: #444;
    color: #fff;
    font-size: 16px;
}

.sidebar input[type="submit"] {
    width: calc(100% - 20px); /* Make button take full width with space on both sides */
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1e7512;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    width: 250px;
}

.sidebar input[type="submit"]:hover {
    background-color: #14a507;
}

/* Folders Container styles */
.folders-container {
    flex: 1;
    background-color: #1b9b0b;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
}

.folders-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #ebe5e5;
}

#folderList {
    list-style-type: none;
    padding: 0;
}

#folderList li {
    font-size: 16px;
    margin-bottom: 10px;
    color: #eedddd;
}

/* Hamburger menu styles */
.hamburger-menu {
    display: none;
}

/* Sidebar animation */
.show-sidebar {
    transform: translateX(0);
}
@media (max-width: 570px) {
    form {
      padding: 0 1.5rem;
    }
  
    .image {
      display: none;
    }
    .panel .content {
      padding: 0.5rem 1rem;
    }
    .container {
      padding: 1.5rem;
    }
  
    .container:before {
      bottom: 72%;
      left: 50%;
    }
  
    .container.sign-up-mode:before {
      bottom: 28%;
      left: 50%;
    }
  }